body{
	align-items: center;
	width: 100%;
	background-color: #5a4080;
}
.container-fluid{
	font-family: 'Poiret One', cursive;
	margin: 3em auto;
  	max-width: 400px;
  	text-align: center;
  	color: #c4c2c2;
}

table{
height: 500px;
width: 380px;
margin-left: 0px;

}

#calc{
	box-shadow: 2px 2px 5px 5px #4c4b4b;
}
.row{
	border-radius:10px; 
	background: #7c7b7b; 
	height: 500px;
}

.btn-calc{
	border: none;
	border-radius: 10px;
	background: #7c7b7b;
	width: 60px;
	height: 60px;
}

.btn-calc:focus{
	outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
.btn-calc:hover{
	background: black;
	font-color: #5a4080;
}

.resultado{
	border: none;
	border-bottom: 1px solid black;
	background: #7c7b7b;
	width: 260px;
	height: 100px;
	text-align: right;
	font-size: 40px;
}

#ce,#igual{
	width: 150px;
}
.op{
	font-size: 40px;
}

.clean{
	font-size: 30px;
}